{% macro toggle_switch(id=None) %}
{% if not id %}
{% set id = 'toggle-switch-' + (range(1, 1000000000)|random|string) %}
{% endif %}
<div
  toggle-switch-component
  class="toggle-switch-component"
  id="{{ id }}"
>
  <div class="toggle-switch-knob"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const switchEl = document.getElementById("{{ id }}");

    switchEl.toggleSwitch = () => {
      switchEl.classList.toggle("active");

      const event = new CustomEvent("switchToggle", {
        detail: {
          active: switchEl.classList.contains("active"),
        },
      });

      switchEl.dispatchEvent(event);
    };

    switchEl.addEventListener("click", (event) => {
      // prevent parent element click events
      event.stopPropagation();

      // fire switch toggle event
      switchEl.toggleSwitch();
    });
  });
</script>
{% endmacro %}
