.content-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.dashboard-view {
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 30px 10px;
  width: 100%;
}

.dashboard-view.active {
  display: block;
}

.dashboard-container {
  width: 70%;
  /* padding: 10px 0; */
}

.dashboard-container .container-header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-container .container-header h1 {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-size: 22px;
}

.dashboard-container .container-content {
  padding: 5px 35px;
}

.dashboard-container .container-header .add-button {
  border-color: var(--light-blue);
  color: var(--light-blue);
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  display: flex;
  margin: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.dashboard-container .container-header .add-button:hover {
  transform: translateY(-2px) scale(1.02);
}
