:root {
  --sidebar-width: 345px;
}

/* adds spacing in place of sidebar since sidebar is fixed */
.sidebar,
.sidebar-spacing {
  width: var(--sidebar-width);
  height: 100%;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  padding: 16px 38px;
  border-right: 1px solid var(--border-color);
  background-color: var(--background);

  z-index: 1;
}

.sidebar-heading {
  color: var(--text);
  font-size: 34px;
}

.sidebar-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-buttons .sidebar-button {
  position: relative;
  margin: 0;
  padding: 0.3em 0;
  color: var(--text);
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.sidebar-buttons .sidebar-button iconify-icon {
  margin-left: 1.2em;
  margin-right: 7px;
}

/* outline */
.sidebar-buttons .sidebar-button:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px var(--border-color);
  -moz-box-shadow: inset 0px 0px 0px 1px var(--border-color);
  box-shadow: inset 0px 0px 0px 1px var(--border-color);
}

.sidebar-button-selection-indicator {
  display: none;
  position: absolute;

  width: 3px;
  height: 65%;
  background-color: var(--accent);
  border-radius: 3px;
}

.sidebar-buttons .sidebar-button.active .sidebar-button-selection-indicator {
  display: block;
}

.sidebar-buttons .sidebar-button.active {
  background-color: rgba(255, 255, 255, 0.03);
}

.sidebar-toggle {
  left: 0;
  display: none;

  position: absolute;
  width: 46px;
  height: 46px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-bottom-right-radius: 5px;
  background-color: var(--background);
}

.sidebar-toggle:hover {
  background-color: var(--background-secondary);
}

.sidebar-toggle iconify-icon {
  transition: transform 0.3s ease-in-out;
  color: var(--text);
  font-size: 28px;
  margin: 0;
  padding: 0;
}

@media (width < 850px) {
  .sidebar-spacing {
    display: none;
  }

  .sidebar {
    transform: translate(-100%);
    /* left: -230px; */
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.open {
    transform: translate(0);
  }

  .sidebar-toggle {
    display: flex;
    transition: left 0.3s ease-in-out;
  }

  .sidebar.open ~ .sidebar-toggle {
    left: var(--sidebar-width);
  }

  .sidebar.open ~ .sidebar-toggle iconify-icon {
    transform: rotate(180deg);
  }
}
