@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --text: #fffafa;
  --background: #1a1919;
  --background-secondary: #212020;
  --primary: #f95656;
  --secondary: #750000;
  --accent: #e01f1f;
  --accent-alpha: #5b5b5b85;

  --border-color: #ffffff1a;

  --light-blue: #0c8ce9;

  --elevation-box-shadow: 0px 1.6px 4.6px rgba(0,0,0,0.25);

  --header-height: 84px;
}


body {
  background-color: var(--background);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

*::-webkit-scrollbar {
  width: 0.3em;
  /* background-color: #0d0d0d; */
  background-color: #0000002e;
  position: fixed;
  right: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #2c2b2b;
  border-radius: 5px;
}

code {
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2px;
  border-radius: 4px;
}

.content-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  max-height: calc(100% - var(--header-height));
}

.flex-column-reverse {
 display: flex;
 flex-direction: column-reverse;
}

.light-hover-overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.light-hover-overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light-hover-overlay:hover:before {
  background: rgba(255, 255, 255, 0.05);
}


.elevated-container {
  border-radius: 8px;

  background-color: var(--background-secondary);
  box-shadow: var(--elevation-box-shadow);
}


.outlined-button {
  border: 0.2rem solid white;
  padding: 0.12rem 0.5rem;
  border-radius: 3px;
}

.circular-button {
  cursor: pointer;
  border-radius: 100%;
  padding: 4px;
}

iconify-icon {
  -webkit-user-select: none;
  user-select: none;
}


.context-menu {
  max-height: 0;
  height: 0; /* hidden */
  position: absolute;
  width: 190px;
  border-radius: 12px;
  background-color: var(--background-secondary);
  overflow: hidden;
  transition: max-height 0.5s ease;
  z-index: 1;
  opacity: 0;
}

.context-menu.active {
  max-height: 250px;
  height: auto;
  padding: 6px;
  border: 1px solid #ffffff1a;
  opacity: 1;
}

.context-menu-section-divider {
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 4px 0;
}

.context-menu-section iconify-icon {
  margin-right: 8px;
}

.context-menu-option {
  padding: 8px 12px;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
}

.context-menu-option span {
  text-decoration: none;
}

.modal-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #00000060;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  pointer-events: none;
}

.modal-wrapper.active {
  /* display: flex; */
  opacity: 1;
  pointer-events: all;
}

.modal-wrapper .modal-content {
  width: min(90vw, 780px);
  /* width: 40%; */
  height: 35%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: var(--elevation-box-shadow);
  padding: 36px;
  position: relative;
  transform: scale(0.8);
  transition: transform .3s ease-in-out;
}

.modal-wrapper.active .modal-content {
  transform: scale(1);
}

.modal-wrapper .modal-content .close-btn {
  position: absolute;
  color: var(--text);
  right: 18px;
  top: 18px;
  font-size: 22px;
}

.modal-wrapper .modal-content .modal-text-container {
  margin-bottom: 8px;
}

.modal-wrapper .modal-content .modal-heading,
.modal-wrapper .modal-content .modal-description {
  color: var(--text);
  padding: 0;
  margin: 0;
}

.modal-wrapper .modal-content .modal-heading {
  font-weight: 500;
  font-size: 38px;
  line-height: 38px;
}

.modal-wrapper .modal-content .modal-description {
  font-size: 18px;
  font-weight: 300;
  padding-left: 1px;
}

.modal-wrapper .modal-content .modal-submit-btn {
  position: absolute;
  background-color: var(--accent);
  color: var(--text);
  border-radius: 6px;
  width: auto;
  right: 36px;
  bottom: 36px;

  min-width: 20%;
  padding: 6px 12px;
  font-size: 22px;
  font-weight: 500;
  transition: transform .3s ease-in-out;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper .modal-content .modal-submit-btn:hover {
  transform: scale(1.03);
}

.modal-wrapper .modal-content .modal-submit-btn p {
  margin: 0;
  padding: 0;
}

.modal-wrapper .modal-content .modal-submit-btn .dots-loading-animation {
  display: none;
}

.modal-wrapper .modal-content .modal-submit-btn.loading .dots-loading-animation {
  display: block;
}

.modal-wrapper .modal-content .modal-submit-btn.loading p {
  display: none;
}

.modal-wrapper .modal-content .modal-response-msg {
  font-size: 16px;
  font-weight: 200;
  color: white;
  margin: 0;
  padding: 0;
  display: none;
  margin-left: 2px;
  margin-top: 2px;
}

.modal-wrapper .modal-content .modal-response-msg.show {
  display: block;
}

.input {
  background-color: var(--background-secondary);
  border: none;
  border-radius: 8px;
  /* border: 1px solid #00000050; */
  box-shadow: var(--elevation-box-shadow);
  color: var(--text);
  padding: 5px 10px;
  font-size: 20px;
  text-transform: lowercase;
}

.input:focus {
  outline: .5px solid var(--accent);
}

.toggle-switch-component {
  position: relative;

  min-width: 45px;
  max-width: 45px;
  border-radius: 25px;
  border: 1px solid white;
  padding: 3px;

  cursor: pointer;
  box-sizing: unset;
}

.toggle-switch-component .toggle-switch-knob {
  position: relative;
  left: 0;

  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: white;

  transition: left 0.3s ease;
}

.toggle-switch-component.active {
  border-color: var(--light-blue);
  background-color: var(--light-blue);
}

.toggle-switch-component.active .toggle-switch-knob {
  left: 30px;
}


/* loading animation */
.dots-loading-animation {
  width: 70px;
  text-align: center;
}

.dots-loading-animation > div {
  width: 10px;
  height: 10px;
  background-color: var(--text);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.dots-loading-animation .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.dots-loading-animation .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes levitate {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}