@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');

@keyframes grow {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

@keyframes fade-down {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 50px;
  }
}

.email-account-container {
  /* background-color: rgba(255, 255, 255, 0.03); */
  /* border-radius: 5px; */
  border-top: 1px solid var(--border-color);
  padding: 3px 45px;
}

.email-account-container .email-account-info {
  padding: 4px 5px;
}

/* seperate containers */
.email-account-container.active .email-account-info {
  position: relative;
  border-bottom: 0.5px solid transparent;
}

/* make bottom border grow from center outwards */
.email-account-container.active .email-account-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: var(--border-color);

  /* Apply the animation */
  animation-name: grow;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.email-account-container .email-account-info .email-account-buttons {
  display: flex;
  align-items: center;
}

.email-account-container .email-account-info .email-account-buttons p {
  padding: 0;
  margin: 0;

  /* vertically center */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-account-container
  .email-account-info
  .email-account-buttons
  .email-account-edit-btn {
  color: var(--text);
  margin-right: 3px;
}

.email-account-container
  .email-account-info
  .email-account-buttons
  .email-account-edit-btn
  iconify-icon {
    transition: transform 0.3s ease;
}

.email-account-container.active
  .email-account-info
  .email-account-buttons
  .email-account-edit-btn
  iconify-icon {
    transform: rotate(270deg);
}

.email-account-container
  .email-account-info
  .email-account-buttons
  .email-account-delete-btn {
  color: var(--primary);
}

.email-account-container .email-account-info p {
  color: var(--text);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.email-account-container .email-account-info p span {
  font-family: 'Noto Sans Mono', monospace;
}

.email-account-container .email-account-info p [visibility-icon] {
  margin-left: 4px;
}

.email-account-container .email-account-info p [email-visibility-off] {
  display: none;
}

.email-account-container .email-account-info p [visibility-icon],
.email-account-container .email-account-info .email-account-buttons p {
  cursor: pointer;
  border-radius: 100%;
  padding: 3px;
}

.email-account-container .email-account-info p,
.email-account-container .email-account-info .email-account-buttons p {
  font-size: 24px;
}

.email-account-container .email-account-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email-account-container .email-account-settings-wrapper {
  position: relative;
  overflow-x: hidden;
  transition: max-height 0.3s ease;
  display: flex;
  max-height: 0;
}

.email-account-container.active .email-account-settings-wrapper {
  max-height: 1000px;
}

.email-account-container .email-account-settings {
  padding: 2px 5px;
  width: 0;
  transition: all 0.3s ease-in-out;
  flex: 1 0 100%;
  height: 0px;
  overflow-y: auto;
}

/* hidden from view */
.email-account-container .email-account-settings.primary-view {
  margin-left: -100%;
}

/* showing */
.email-account-container .email-account-settings.primary-view.active {
  margin-left: 0;
  height: auto;
}

/* .email-account-container .email-account-settings.secondary-view {
} */

.email-account-container .email-account-settings.secondary-view.active {
  height: auto;
}

.email-account-container
  .email-account-settings
  .email-account-settings-list-top {
  display: flex;
  justify-content: space-between;
}

.email-account-container
  .email-account-settings
  .email-account-settings-list-top
  .back-arrow {
  font-size: 22px;
  display: flex;
  align-items: center;
  color: var(--text);
  border-radius: 3px;
  transition: color 0.3s ease-in-out;
  margin: 0;
  padding: 0;
}

.email-account-container
  .email-account-settings
  .back-arrow:hover {
  cursor: pointer;
}

.email-account-container
  .email-account-settings
  .back-arrow span {
  font-size: 20px;
  margin-left: 6px;
}

.small-new-button {
  color: var(--text);
  font-size: 24px;
  align-items: center;
  display: flex;
  margin: 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 30px;
  height: 30px;
}

.listed-email-container {
  padding: 6px 0;
  /* helps with context menu overlapping */
  display: flex;
  flex-direction: column-reverse;
}

.horizontal-divider {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  border-top: 1px solid var(--border-color);
}

.listed-email {
  /* border-top: 1px solid var(--border-color); */
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  animation-name: fade-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.listed-email
  .email-text-container
  .email-text {
  color: var(--text);
  font-size: 18px;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.listed-email
  .email-text-context-menu-wrapper {
    display: flex;
    align-items: center;
  }

.listed-email
  .email-text-context-menu-wrapper
  .email-options-btn {
  color: var(--text);
  font-size: 22px;
  margin: 0;
}

.listed-email
  .email-text-context-menu-wrapper
  .context-menu {
    position: fixed;
    right: unset;
    /* transform: translateY(30%); */
    /* margin-top: 40px; */
    margin-left: 30px;
    transition: opacity 0.3s ease-in-out;
    z-index: 10000;
  }

.email-account-container
  .email-account-settings
  .email-account-settings-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  padding: 3px 12px;
}

.email-account-container
  .email-account-settings
  .email-account-settings-option
  p {
  color: var(--text);
  margin: 0;
  padding: 0;
}

.email-account-container
  .email-account-settings
  .email-account-settings-option
  .settings-option-title {
  font-size: 18px;
  font-weight: 300;
}

.email-account-container
  .email-account-settings
  .email-account-settings-option
  .settings-option-description {
  font-size: 12px;
  font-weight: 200;
}


.email-account-container
  .email-account-settings
  .email-account-settings-option
  iconify-icon {
  color: var(--text);
  font-size: 30px;
  transition: transform .3s ease-in-out;
}

.email-account-container
  .email-account-settings
  .email-account-settings-option:hover
  iconify-icon {
  transform: translate(3px);
}

@media (width < 600px) {
  .email-account-container {
    padding: 3px 10px;
  }
}