{% from "components/macros/toggle_switch.html" import toggle_switch with context %}

<link rel="stylesheet" href="{{ url_for('.static', filename='css/views/email_accounts.css') }}">

<div view="email_accounts" class="dashboard-view">
  <div class="dashboard-container elevated-container">
    <div class="container-content container-header">
      <h1>Gmail Accounts</h1>
      <p class="add-button outlined-button">
        <iconify-icon icon="mingcute:add-fill"></iconify-icon>
        <span>Add</span>
      </p>
    </div>
    <div class="container-content">
      <div class="email-account-container">
        <div class="email-account-info">
          <p>example@gmail.com</p>
          <div class="email-account-buttons">
            <p class="email-account-edit-btn"><iconify-icon icon="mdi:cog"></iconify-icon></p>
            <p class="email-account-delete-btn"><iconify-icon icon="iconamoon:trash-fill"></iconify-icon></iconify-icon></p>
          </div>
        </div>
        <div class="email-account-settings">
          <div
            email-whitelist-toggle-switch
            class="email-account-settings-option light-hover-overlay"
            email-address="example@gmail.com"
          >
          <div class="settings-option-text-container">
            <p class="settings-option-title">Sender Whitelist</p>
          </div>
            {{ toggle_switch() }}
          </div>

          <div
            class="email-account-settings-option light-hover-overlay"
            email-address="example@gmail.com"
          >
            <div class="settings-option-text-container">
              <p class="settings-option-title">Manage Sender Whitelist</p>
              <p class="settings-option-description">
                Customize which emails you recieve notifications for by whitelisting certain senders
              </p>
            </div>
            <iconify-icon icon="mingcute:right-line"></iconify-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
