<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'components/head.html' %}
    <meta name="description" content="">

    <title>Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/sidebar.css') }}">

    <script src="{{ url_for('.static', filename='js/sidebar.js') }}" defer></script>
    <script src="{{ url_for('.static', filename='js/views/email_accounts.js') }}" defer></script>

    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='assets/branding/logo.svg') }}"
    />
  </head>
  <body>
    {% include 'components/header.html' %}
    <div class="content-wrapper">
      <div class="sidebar-spacing"></div>
      <div class="sidebar" id="sidebar">
        <h1 class="sidebar-heading">Dashboard</h1>

        <div class="sidebar-buttons">

          <a class="sidebar-button light-hover-overlay" view-btn="email_accounts">
            <div class="sidebar-button-selection-indicator"></div>
            <iconify-icon icon="clarity:email-solid"></iconify-icon>
            <span>Email Accounts</span>
          </a>

          <a class="sidebar-button light-hover-overlay" onclick="window.location.assign('/dashboard/logout')">
            <div class="sidebar-button-selection-indicator"></div>
            <iconify-icon icon="material-symbols:logout"></iconify-icon>
            <span>Logout</span>
          </a>

        </div>

      </div>
      <div class="sidebar-toggle" id="sidebar-toggle-btn">
        <iconify-icon icon="mingcute:right-line"></iconify-icon>
      </div>

      <div class="content">
        {% include 'views/email_accounts.html' %}
      </div>
    </div>
  </body>
</html>
